@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;800;900&display=swap);

html {
    scroll-behavior: smooth;
    --basicColor: #6157AB;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

.container {
    width: 1200px;
    margin: 0 auto;
    background: #fff;
}

.header {
    height: 1200px;
    height: 84px;
}

.nav {
    display: flex;
    gap: 68px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: end;
}

.nav-link {
    text-decoration: none;
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0%;
    color: #636769;
}

.main {
    position: relative;
    height: 743px;
    padding: 13px 0 0 60px;
}

.main-group {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.main-img {
    position: absolute;
    top: 0;
    right: 0%;
}

.main-title {
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 64px;
    line-height: 70.4px;
    letter-spacing: 1px;
    width: 616px;
    height: 212px;
    color: #363B3D;
}

.main-text {
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    line-height: 34px;
    letter-spacing: 0.05px;
    width: 599px;
    height: 68px;
    color: #636769;
}

.main-buttons {
    width: 316px;
    display: flex;
}

.main-button {
    width: 158px;
    height: 54px;
    border-radius: 5px;
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.5px;
    text-transform: capitalize;
}

.colored {
    border: none;
    background: var(--basicColor);
    color: white;
}

.uncolored {
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5.5px;
    background: none;
}

.line {
    width: 93px;
    height: 1px;
    background: var(--basicColor);
}

.button-text {
    color: var(--basicColor);
}



.companies {
    display: flex;
    flex-direction: column;
    gap: 39px;
    margin-top: 119px;
}

.companies-title {
    width: 89px;
    height: 17px;
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 11px;
    line-height: 16.5px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #96979A;
}

.companies-imgs {
    display: flex;
    width: 660px;
    height: 114px;
    align-items: center;
}

.section {
    height: 2227px;
    background: #F5F4F2;
}

.section-text {
    margin: 0 auto;
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 52px;
    line-height: 64.8px;
    letter-spacing: 0.68px;
    text-align: center;
    width: 600px;
    height: 65px;
    padding: 72px;

}

.button-group-section {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    padding: 0 105px;
    margin: 25px;
}

.button-colored {
    height: 60px;
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 2.32px;
    text-transform: uppercase;
    color: #6157AB;
    padding: 15px 25px;
    border-radius: 8px;
    background: #ECEAF8;

}

.button-uncolored {
    height: 60px;
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 2.32px;
    text-transform: uppercase;
    color: #96979A;
    padding: 15px 25px;
    border-radius: 8px;
    background: #FFFFFF;
}

.section-container {
    position: relative;
    bottom: 460px;
    height: 964px;
    background: #ffff;
    display: flex;
    justify-content: flex-end;
    width: 1080px;
    left: 60px;;

}



.section-center {}

.line-section {
    position: relative;
    top: 100px;
    right: 100px;
    width: 381px;
    height: 1px;
    background: #C9D3D9;

}


.house {
    z-index: 1;
    position: relative;
    top: 100px;
    left: 65px;
}




.section-text2 {
    position: relative;
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2.32px;
    text-transform: uppercase;
    top: 130px;
    right: 100px;
}


.section-text3 {
    position: relative;
    width: 367px;
    height: 104px;
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 40px;
    line-height: 52px;
    letter-spacing: 0%;
    bottom: 1175px;
    left: 720px;
}


.section-text4 {
    position: relative;
    width: 381px;
    height: 120px;
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 21px;
    line-height: 30px;
    letter-spacing: 0%;
    color: #636769;
    bottom: 1140px;
    left: 720px;
}



.section-button {
    position: relative;
    width: 233px;
    height: 54px;
    border-radius: 5px;
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.5px;
    text-transform: capitalize;
    bottom: 1100px;
    left: 720px;
}

.line-section2 {
    position: relative;
    width: 1060px;
    height: 1px;
    background: #C9D3D9;
    left: 60px;
    bottom: 1000px;
}

.purple-background {
    position: relative;
    bottom: 940px;
    left: 150px;
}

.dolar {
    position: relative;
    bottom: 960px;
    left: 100px;
}


.purple-background2 {
    position: relative;
    bottom: 940px;
    left: 450px;
}


.pensil {
    position: relative;
    bottom: 960px;
    left: 395px;
}


.purple-background3 {
    position: relative;
    bottom: 940px;
    left: 732px;
}

.house-with-dolar {
    position: relative;
    bottom: 960px;
    left: 675.5px;
}


.section-text5 {
    position: relative;
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 18.9px;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    width: 209px;
    height: 19px;
    color: #6157AB;
    bottom: 930px;
    left: 90px;
}



.section-text6 {
    position: relative;
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 18.9px;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    width: 209px;
    height: 19px;
    color: #6157AB;
    bottom: 950px;
    left: 480px;
}



.section-text7 {
    position: relative;
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 18.9px;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    width: 209px;
    height: 19px;
    color: #6157AB;
    bottom: 970px;
    left: 870px;
}

.section-container2 {
    width: 1080px;
    height: 965px;
    background: #E3E6F9;
    position: relative;
    left: 60px;
    bottom: 870px;
}


.section-text8 {
    position: relative;
    width: 600px;
    height: 65px;
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 51px;
    line-height: 64.8px;
    letter-spacing: 0.68px;
    text-align: center;
    bottom: 1750px;
    left: 300px;
    color: #323A5B;
}

.section-text9 {
    position: relative;
    width: 436px;
    height: 168px;
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 26px;
    line-height: 42px;
    letter-spacing: 0px;
    text-align: center;
    bottom: 1700px;
    left: 124px;
}

.man {
    position: relative;
    bottom: 1690px;
    left: 240px;
}


.section-text10 {
    width: 129px;
    height: 17px;
    position: relative;
    bottom: 1755px;
    left: 322px;
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 11px;
    line-height: 16.5px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #636769;
}

.section-text11 {
    width: 129px;
    height: 17px;
    position: relative;
    bottom: 1755px;
    left: 322px;
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: #636769;
}


.line-section3 {
    position: relative;
    width: 439px;
    height: 1px;
    background: #000;
    bottom: 1680px;
    left: 130px;
    background: #C9C9C9;
}

.section-text12 {
    position: relative;
    width: 425px;
    height: 60px;
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: center;
    color: #636769;
    bottom: 1645px;
    left: 130px;
}

.section-button-learn-more {
    position: relative;
    width: 148px;
    height: 56px;
    border-radius: 5px;
    border-width: 1px;
    border: 1px solid #574D9C;
    color: #574D9C;
    background: white;
    bottom: 1620px;
    left: 267px;
}

.uncolored-section {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.5px;

}


.Living-room {
    position: relative;
    bottom: 2100px;
    left: 600px;
}

.next-part {
    bottom: 2025px;
}



.section-text13 {
    position: relative;
    width: 211px;
    height: 105px;
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 69px;
    line-height: 104.04px;
    letter-spacing: 0%;
    color: #323A5B;
    bottom: 2000px;
    left: 150px;
}


.section-text14 {
    position: relative;
    width: 211px;
    height: 105px;
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 69px;
    line-height: 104.04px;
    letter-spacing: 0%;
    color: #323A5B;
    bottom: 2105px;
    left: 480px;
}


.section-text15 {
    position: relative;
    width: 211px;
    height: 105px;
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 69px;
    line-height: 104.04px;
    letter-spacing: 0%;
    color: #323A5B;
    bottom: 2210px;
    left: 850px;
}

.section-text16 {
    position: relative;
    width: 167px;
    height: 19px;
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 18.9px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color:#323A5B;
    left:160px;
    bottom: 2225px;
}

.section-text17 {
    position: relative;
    width: 167px;
    height: 19px;
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 18.9px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color:#323A5B;
    left: 550px;
    bottom: 2245px;
}

.section-text18 {
    position: relative;
    width: 167px;
    height: 19px;
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 18.9px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color:#323A5B;
    left: 870px;
    bottom: 2264px;
}