@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;800;900&display=swap);

html {
    scroll-behavior: smooth;
    --basicColor: #6157AB;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

.container {
    width: 1200px;
    height: 5433px;
    margin: 0 auto;
    background: #ffffff;
}

.header {
    height: 1200px;
    height: 84px;
}

.nav {
    display: flex;
    gap: 68px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: end;
}

.nav-link {
    text-decoration: none;
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0%;
    color: #636769;
}

.main {
    position: relative;
    height: 743px;
    padding: 13px 0 0 60px;
}

.main-group {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.main-img {
    position: absolute;
    top: 0;
    right: 0%;
}

.main-title {
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 64px;
    line-height: 70.4px;
    letter-spacing: 1px;
    width: 616px;
    height: 212px;
    color: #363B3D;
}

.main-text {
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    line-height: 34px;
    letter-spacing: 0.05px;
    width: 599px;
    height: 68px;
    color: #636769;
}

.main-buttons {
    width: 316px;
    display: flex;
}

.main-button {
    width: 158px;
    height: 54px;
    border-radius: 5px;
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.5px;
    text-transform: capitalize;
}

.colored {
    border: none;
    background: var(--basicColor);
    color: white;
}

.uncolored {
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5.5px;
    background: none;
}

.line {
    width: 93px;
    height: 1px;
    background: var(--basicColor);
}

.button-text {
    color: var(--basicColor);
}



.companies {
    display: flex;
    flex-direction: column;
    gap: 39px;
    margin-top: 119px;
}

.companies-title {
    width: 89px;
    height: 17px;
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 11px;
    line-height: 16.5px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #96979A;
}

.companies-imgs {
    display: flex;
    width: 660px;
    height: 114px;
    align-items: center;
}

.section {
    width: 1200px;
    height: 2227px;
    background: #ff0000;
}

.section-text {
    margin: 0 auto;
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 52px;
    line-height: 64.8px;
    letter-spacing: 0.68px;
    text-align: center;
    width: 600px;
    height: 65px;
    padding: 72px;

}

.button-group-section {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    padding: 0 105px;
    margin: 25px;
}

.button-colored {
    height: 60px;
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 2.32px;
    text-transform: uppercase;
    color: #6157AB;
    padding: 25px;
    border-radius: 8px;
    background: #ECEAF8;

}

.button-uncolored {
    height: 60px;
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 2.32px;
    text-transform: uppercase;
    color: #96979A;
    padding: 15px 25px;
    border-radius: 8px;
    background: #FFFFFF;
}





.line-section {
    position: relative;
    top: 100px;
    right: 100px;
    width: 381px;
    height: 1px;
    background: #C9D3D9;

}

.section-container {
    position: relative;
    display: flex;
    width: 1080px;
    height: 914px;
    border-top-left-radius: 19px;
    border-top-right-radius: 19px;
    left: 60px;
    background: #fff;
}

.photo-zone {
    position: relative;
    display: flex;
    height: 494px;
    justify-content: center;
    top: 75px;
    left: 74px;
}

.texts-buyers {
    display: flex;
    flex-direction: column;
    width: 431px;
    gap: 30px;
    padding: 33px 25px;
}

.buyers-title-litle {
    margin-top: 67px;
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 40px;
    line-height: 52px;
    letter-spacing: 0%;

}

.buyers-title-small {
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2.32px;
    text-transform: uppercase;
    color: #6157AB;
}

.buyers-title-article {
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 21px;
    line-height: 30px;
    letter-spacing: 0%;

}



.colored {
    width: 223px;
    height: 54px;
    border-radius: 5px;
    background: #6157AB;
    padding: 20px;
}

.house {
    margin-right: 85px;
}